{% assign t = site.data.translations[site.active_lang].main %}

<div class="modal fade" id="{{ include.handle }}" tabindex="-1" aria-labelledby="{{ include.handle }}Label"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-3 mx-auto text-white" id="{{ include.handle }}Label">
          <svg class="align-middle icon-heart-handshake me-1" width="30" height="30">
            <use xlink:href="/assets/images/icons/sprite.svg#heart-handshake"></use>
          </svg>
          <span class="align-middle">{{ t.support_modal.title }}</span>
        </h1>
      </div>
      <div class="modal-body">
        <h4 class="fs-5 ">
          {{ t.support_modal.description_1 }}
        </h4>
        <h4 class="fs-5 ">
          {{ t.support_modal.description_2 }}
        </h4>
        <div class="fs-5">
          {{ t.support_modal.child_name }}: <em>{{ include.nome }}</em>
          <a type="button" class="btn-copy-to-clipboard ms-1 text-black" aria-label="copy"
            data-clipboard-text="{{ include.nome }}">
            <i data-bs-toggle="tooltip" data-bs-title="{{ t.buttons.copy }}" class="bi bi-clipboard"></i>
          </a>
        </div>

        <div class="d-flex">
          <a href="https://donate.stripe.com/3cs29L1CifGEfU46oy"
            class="btn btn-warning btn-md mx-auto w-auto rounded-pill mt-3">
            <i class="bi bi-credit-card"></i>
            {{ t.buttons.support }} {{include.nome}}
          </a>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ t.buttons.close }}</button>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const modal = document.getElementById('{{ include.handle }}');
    const clipboard = new ClipboardJS('.btn-copy-to-clipboard', {
      container: modal
    });
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const options = { boundary: modal }
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl, options))

    if (ClipboardJS.isSupported()) {
      clipboard.on('success', function (e) {
        const tooltipElement = e.trigger.querySelector('[data-bs-toggle="tooltip"]');
        const tooltip = bootstrap.Tooltip.getInstance(tooltipElement);

        tooltip.setContent({ '.tooltip-inner': '{{ t.buttons.copied }}' });
        tooltip.show();
      });
    } else {
      document.getElementsByClassName('btn-copy-to-clipboard').forEach(function (button) {
        button.style.display = 'none';
      });
    }
  });
</script>
