  <footer class=" bd-footer p-3 row text-white footer-bg-colour" data-target-section id="footer">
    <div class="col-12 col-md-9 ms-md-2">
      <div>
        <p class="h4 text-warning">Contatti</p>
        <p class="h6">SALIM ODV, via delle mole 16/C, </p>
        <p class="h6">00041 Albano Laziale (RM)
        <p class="h6">tel: 06 20199236</p>
      </div>
    </div>
    <hr class="my-2 text-white"/>
    <div class="ms-md-auto mt-md-auto">
      <div class="cursor-pointer me-2 mb-0 float-start">
        <a href="mailto:info@salimodv.org" class="d-flex align-items-center text-decoration-none">
          <i class="bi bi-envelope-heart me-1"></i>
          <span>info@salimodv.org</span>
        </a>
      </div>
      <p class="me-2 mb-0 float-end">SalimOdv © 2024</p>
    </div>
  </footer>
