<nav class="navbar navbar-expand-md navbar-togglable fixed-top" aria-label="Salim ODV" id="menu-bar">
  <div class="container-fluid">
    <a class="navbar-brand justify-content-md-start me-2" href="#">
      <img src="assets/images/logos/logo_extended_green_1.svg" alt="Associazione Salim ODV" height="100"
        class="d-inline-block align-text-top">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSalimOdv"
      aria-controls="navbarSalimOdv" aria-expanded="false" aria-label="Apri il menu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-md-flex justify-content-md-center mt-3" id="navbarSalimOdv">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" data-target="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#progetti" data-target="progetti">Progetti</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#la-storia" data-target="la-storia">La storia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#Soci e Volontari" data-target="volontari">Soci e Volontari</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#footer" data-target="footer">Contatti</a>
        </li>
      </ul>
    </div>
    <div class="d-none d-lg-block justify-content-md-end mt-3 navbar-nav">
      <a class="btn btn-outline-warning rounded-pill" href="#footer" data-target="footer">Dona Ora</a>
    </div>
  </div>
</nav>
