@import url("fonts.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.navbar-togglable .text-dark,
.navbar-togglable .text-white {
  transition: color 0.2s ease-in-out;
}

html, body{
  overflow-x: hidden;
}

.navbar-togglable {
  transition: background-color 0.2s ease-in-out;
}

.banner img {
  min-height: 480px;
}

:root,
[data-bs-theme=light] {
  --bs-verdino: #c5d187;
  --bs-verdone: #1c2416;
}


.custom-bg-colour {
  background-color: var(--bs-verdone);
}

.footer-bg-colour {
  background-color: #382213;
}

.navbar {
  --bs-navbar-active-color: var(--bs-white);
}

.navbar-nav {
  --bs-nav-link-color: var(--bs-verdino);
  --bs-nav-link-hover-color: var(--bs-white);
}

.text-highlight {
  color: var(--bs-verdino);
}

.carousel-control-prev,
.carousel-control-next {
  color: var(--bs-verdone);
  width: unset;
  opacity: 1;
}

.carousel-control-prev {
  margin-left: 1rem;
}

.carousel-control-next {
  margin-right: 1rem;
}

.carousel-control-prev:hover,
.carousel-control-prev:focus,
.carousel-control-next:hover,
.carousel-control-next:focus {
  opacity: 0.5;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%231c2416'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e")
    /*rtl:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%231c2416'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")*/
  ;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%231c2416'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")
    /*rtl:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%231c2416'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e")*/
  ;
}

.dicono-di-noi-image {
  height: 300px;
  width: 300px;
}

/* Carousel */
.carousel-indicators {
  bottom: unset;
  top: 0;
  margin-top: 1rem;
  margin-bottom: unset;
}

.bg-verdino {
  background-color: var(--bs-verdino);
}

.table {
  --bs-table-color: var(--bs-black);
}

#cookieConsentMinimized:hover {
  margin-right: 0 !important;
}

#cookieConsentMinimized .p-2 {
  width: 25px;
  overflow: hidden;
}

#cookieConsentMinimized:hover .p-2 {
  height: auto;
}

body {
  font-family: "Saira Condensed", "Prompt", sans-serif;
  font-style: normal;
}

main {
  min-height: 75rem;
}

.skip-nav {
  padding-top: 126px;
}

.modal-header {
  background-color: var(--bs-verdone);
}

.modal-footer {
  background-color: #382213;
}

.btn-secondary {
  --bs-btn-color: #fff;
  --bs-btn-hover-color: #fff;
}

.btn-close {
  --bs-btn-close-color: #fff;
  --bs-btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
}

.modal-body {
  color: var(--bs-black);
}

.modal {
  --bs-modal-header-color: var(--bs-white);
  --bs-modal-header-border-color: var(--bs-verdone);
  --bs-modal-footer-border-color: #382213;
}
.btn-warning {
  --bs-btn-color: #382213;
  --bs-btn-hover-color: #382213;
  --bs-btn-active-color: #382213;
  --bs-btn-disabled-color: #382213;
}
