<div id="cookieConsentModal" class="modal fade" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-white">
        <h5 class="modal-title">Consenso Cookies</h5>
      </div>
      <div class="modal-body">
        <p>
          Utilizziamo cookies, anche di terza parte, per migliorare la tua esperienza sul nostro sito.
          Salva le tue preferenze e scegli se acconsentire a tutti i cookie, oppure chiudi questo banner per continuare solo con i cookie tecnici.
        </p>
        <div class="form-check form-switch mb-3">
          <input class="form-check-input" type="checkbox" id="necessaryCookies" checked disabled>
          <label class="form-check-label" for="necessaryCookies">Cookies tecnici (sempre attivi)</label>
        </div>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="marketingCookies">
          <label class="form-check-label" for="marketingCookies">Cookies con fini di marketing</label>
        </div>
      </div>

      <div class="modal-footer justify-content-between">
        <div>
          <a href="/cookie_policy.html" class="btn btn-link me-3">Politica dei Cookie</a>
          <a href="/privacy_policy.html" class="btn btn-link p-0">Privacy Policy</a>
        </div>
        <div>
          <button type="button" class="btn btn-primary" id="savePreferences">Salva</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close">Chiudi</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="cookieConsentMinimized" class="mb-3 position-fixed bottom-0 end-0 bg-primary text-white rounded-start shadow transition-margin" style="display: none; cursor: pointer; margin-right: -110px; width: 120px; transition: margin-right 0.3s ease;">
  <div class="p-3">
    <small>Consenso Cookies</small>
  </div>
</div>
