{% assign t = site.data.translations[site.active_lang].main %}
  <footer class="bd-footer text-white footer-bg-colour px-3" data-target-section id="footer">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4">
      <div class="col py-3 ps-4">
        <div>
          <p class="h3 text-warning">Salim ODV</p>
          <p class="h5">Via delle mole 16/C, </p>
          <p class="h5">00041 Albano Laziale (RM)</p>
          <p class="h5">
            <i class="bi bi-telephone"></i>
            06 2019 9236
          </p>
          <a class="h5" href="https://wa.me/390620199236" target="_blank">
            <img class="align-top me-1" src="/assets/images/Digital_Glyph_Green.png" alt="whatsapp" height="20px">06 2019 9236
          </a>
          <div class="dropdown mt-3">
            <button class="btn btn-light dropdown-toggle" type="button" id="languageDropdown" data-bs-toggle="dropdown" aria-expanded="false">
              {% if site.active_lang == "it" %}
                <img src="/assets/images/flags/it.svg" alt="Italiano" width="20" height="20" class="me-1">
                Lingua
              {% elsif site.active_lang == "en" %}
                <img src="/assets/images/flags/en.svg" alt="English" width="20" height="20" class="me-1">
                Language
              {% else %}
                <img src="/assets/images/flags/es.svg" alt="Español" width="20" height="20" class="me-1">
                Idioma
              {% endif %}
            </button>
            <ul class="dropdown-menu" aria-labelledby="languageDropdown">
              <li>
                <a class="dropdown-item d-flex align-items-center {% if site.active_lang == 'it' %}active{% endif %}"
                  {% static_href %}href="{% if 'it' == site.default_lang %}{{site.baseurl}}{{page.url}}{% else %}{{site.baseurl}}/it{{page.url}}{% endif %}"{% endstatic_href %}>
                  <img src="/assets/images/flags/it.svg" alt="Italiano" width="20" height="20" class="me-2">
                  Italiano
                </a>
              </li>
              <li>
                <a class="dropdown-item d-flex align-items-center {% if site.active_lang == 'en' %}active{% endif %}"
                  {% static_href %}href="{% if 'en' == site.default_lang %}{{site.baseurl}}{{page.url}}{% else %}{{site.baseurl}}/en{{page.url}}{% endif %}"{% endstatic_href %}>
                  <img src="/assets/images/flags/en.svg" alt="English" width="20" height="20" class="me-2">
                  English
                </a>
              </li>
              <li>
                <a class="dropdown-item d-flex align-items-center {% if site.active_lang == 'es' %}active{% endif %}"
                  {% static_href %}href="{% if 'es' == site.default_lang %}{{site.baseurl}}{{page.url}}{% else %}{{site.baseurl}}/es{{page.url}}{% endif %}"{% endstatic_href %}>
                  <img src="/assets/images/flags/es.svg" alt="Español" width="20" height="20" class="me-2">
                  Español
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col ps-4 pe-0 ps-sm-0 p-3 py-3">
        <div>
          <p class="h3 text-warning">IBAN</p>
          <p class="h6">
            <button type="button" class="btn btn-link p-0 link-light" data-bs-toggle="modal" data-bs-target="#DonateNowModal">
              <svg class="icon-heart-handshake me-1" width="24" height="24">
                <use xlink:href="/assets/images/icons/sprite.svg#heart-handshake"></use>
              </svg>IT 95Q0 6230 5106 1000 0469 459 56
            </button>
          </p>
          <p class="h3 mt-3 text-warning">{{ t.footer.card }}</p>
          <p class="h6">
            <button type="button" class="btn btn-link p-0 link-light" data-bs-toggle="modal" data-bs-target="#DonateNowModal">
              <i class="bi-credit-card me-1"></i>{{ t.footer.donate_online }}
            </button>
          </p>
        </div>
      </div>

      <div class="col ps-4 py-0 py-sm-3">
        <div class="d-none d-sm-block">
          <p class="h3 text-warning">{{ t.footer.information }}</p>
          <p class="h6">
            <a class="link-light" href="/cookie_policy.html">{{ t.footer.cookie_policy }}</a>
          </p>
          <p class="h6">
            <a class="link-light" href="/privacy_policy.html">{{ t.footer.privacy }}</a>
          </p>
          <p class="h6">
            <a class="link-light" data-open-cookie-consent="true" href="#">{{ t.footer.privacy_settings }}</a>
          </p>
          {% if site.active_lang == "it" %}
            <p class="h6">
              <a class="link-light" href="/agevolazioni_fiscali.html">{{ t.footer.fiscal_benefits }}</a>
            </p>
          {% endif %}
        </div>
        <div class="d-block d-sm-none">
          <p class="h3 text-warning">
            <a class="text-warning" data-bs-toggle="collapse" href="#collapseInformazioni" role="button" aria-expanded="false" aria-controls="collapseInformazioni">
              {{ t.footer.information }}
            </a>
          </p>
          <div class="collapse" id="collapseInformazioni">
            <p class="h6">
              <a class="link-light" href="/cookie_policy.html">{{ t.footer.cookie_policy }}</a>
            </p>
            <p class="h6">
              <a class="link-light" href="/privacy_policy.html">{{ t.footer.privacy }}</a>
            </p>
            <p class="h6">
              <a class="link-light" data-open-cookie-consent="true" href="#">{{ t.footer.privacy_settings }}</a>
            </p>
            {% if site.active_lang == "it" %}
              <p class="h6">
                <a class="link-light" href="/agevolazioni_fiscali.html">{{ t.footer.fiscal_benefits }}</a>
              </p>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col ps-4 ps-sm-0 py-2 py-sm-3">
        <div class="d-none d-sm-block">
          <p class="h3 text-warning">{{ t.footer.documents }}</p>
          <p class="h6">
            <a class="link-light" href="/assets/statuto.pdf" download>
              <i class="me-1 bi bi-download me-1"></i>{{ t.footer.statute }}
            </a>
          </p>
          <p class="h6">
            <a class="link-light" href="/assets/registrazione_runts.pdf" download>
              <i class="me-1 bi bi-download me-1"></i>{{ t.footer.runts_registration }}
            </a>
          </p>
          <p class="h6">
            <a class="link-light" href="/assets/regolamento.pdf" download>
              <i class="me-1 bi bi-download me-1"></i>{{ t.footer.regulation }}
            </a>
          </p>
          <p class="h6">
            <a class="link-light" href="/assets/ammissione_a_socio.pdf" download>
              <i class="me-1 bi bi-download me-1"></i>{{ t.footer.membership_form }}
            </a>
          </p>
        </div>
        <div class="d-block d-sm-none">
          <p class="h3 text-warning">
            <a class="text-warning" data-bs-toggle="collapse" href="#collapseDocumenti" role="button" aria-expanded="false" aria-controls="collapseDocumenti">
              {{ t.footer.documents }}
            </a>
          </p>
          <div class="collapse" id="collapseDocumenti">
            <p class="h6">
              <a class="link-light" href="/assets/statuto.pdf" download>
                <i class="me-1 bi bi-download me-1"></i>{{ t.footer.statute }}
              </a>
            </p>
            <p class="h6">
              <a class="link-light" href="/assets/registrazione_runts.pdf" download>
                <i class="me-1 bi bi-download me-1"></i>{{ t.footer.runts_registration }}
              </a>
            </p>
            <p class="h6">
              <a class="link-light" href="/assets/regolamento.pdf" download>
                <i class="me-1 bi bi-download me-1"></i>{{ t.footer.regulation }}
              </a>
            </p>
            <p class="h6">
              <a class="link-light" href="/assets/ammissione_a_socio.pdf" download>
                <i class="me-1 bi bi-download me-1"></i>{{ t.footer.membership_form }}
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-cols-1">
      <hr class="text-white border-3 border-light mb-3">
      <div class="d-flex mb-2 px-4 flex-sm-row flex-column">
        <div class="me-2 mb-0 align-self-start align-self-sm-center flex-grow-1">
          <div class="d-none d-sm-flex flex-row">
            <a href="mailto:info@salimodv.org" class="link-light">
              <i class="bi-envelope-heart me-1"></i>info@salimodv.org
            </a>
            <a class="ms-2 link-light" href="https://www.facebook.com/people/Salim-ODV/61565249391287/" target="_blank">
              <i class="bi-facebook me-1"></i>Facebook
            </a>
            <a class="ms-2 link-light" href="https://www.instagram.com/salimodv/" target="_blank">
              <i class="bi-instagram me-1"></i>Instagram
            </a>
          </div>
          <div class="d-flex d-sm-none flex-column">
            <a href="mailto:info@salimodv.org" class="link-light mb-2">
              <i class="bi-envelope-heart me-1"></i>info@salimodv.org
            </a>
            <a class="link-light mb-2" href="https://www.facebook.com/people/Salim-ODV/61565249391287/" target="_blank">
              <i class="bi-facebook me-1"></i>Facebook
            </a>
            <a class="link-light" href="https://www.instagram.com/salimodv/" target="_blank">
              <i class="bi-instagram me-1"></i>Instagram
            </a>
          </div>
        </div>
        <div class="ms-sm-auto mx-auto p-2">
          <div class="me-2">
            {% include buttons/donate.html %}
          </div>
        </div>
      </div>
    </div>
  </footer>
