<nav class="{% if page.url != "/" %} custom-bg-colour {% endif %}  navbar navbar-expand-md navbar-togglable fixed-top" aria-label="Salim ODV" id="menu-bar">
  <div class="container">
    <a class="navbar-brand justify-content-md-start me-2" href="/#">
      <img src="/assets/images/logos/logo_extended_green_1.svg" alt="Associazione Salim ODV" height="90"
        class="d-inline-block align-text-top m-2">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSalimOdv"
      aria-controls="navbarSalimOdv" aria-expanded="false" aria-label="Apri il menu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-md-flex justify-content-md-end mt-3" id="navbarSalimOdv">
      <ul class="navbar-nav">
        {% assign stripped_url = page.url | remove_first: '/' | split: '/' | first | remove: '.html' %}
        {% for item in site.data.nav_links %}
          {% assign stripped_item_url = item.url | remove_first: '/' | remove_first: '#' %}
          <li class="nav-item">
            <a
              class="nav-link {% if stripped_url != '' and stripped_url == stripped_item_url and page.url != "/" %} active {% endif %}"
              href="{% if page.url == "/" %}/#{{item.name}}{% else %}{{item.url}}{% endif %}"
              data-target="{{item.name}}"
            >
              {{item.label}}
            </a>
          </li>
        {% endfor %}
        <li class="nav-item">
          <a
            class="nav-link {% if stripped_url == 'blog' %} active {% endif %}"
            href="/blog"
            data-target="blog"
          >
            Blog
          </a>
        </li>
      </ul>
      <div class="ms-md-3">
        {% include buttons/donate.html %}
      </div>
    </div>
  </div>
</nav>
