{% assign t = site.data.translations[site.active_lang].main %}
<nav class="{% if page.url != "/" %} custom-bg-colour {% endif %}  navbar navbar-expand-md navbar-togglable fixed-top" aria-label="Salim ODV" id="menu-bar">
  <div class="container">
    <a class="navbar-brand justify-content-md-start me-2" href="/#">
      <img src="/assets/images/logos/logo_extended_green_1.svg" alt="Associazione Salim ODV" height="90"
        class="d-inline-block align-text-top m-2">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSalimOdv"
      aria-controls="navbarSalimOdv" aria-expanded="false" aria-label="Apri il menu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-md-flex justify-content-md-end mt-3" id="navbarSalimOdv">
      <ul class="navbar-nav">
        {% assign stripped_url = page.url | remove_first: '/' | split: '/' | first | remove: '.html' %}
        <li class="nav-item">
          <a class="nav-link" href="{% if page.url == "/" %}/#home{% else %}/{% endif %}" data-target="home">
            {{ t.nav.home }}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% if page.url == "/" %}/#progetti{% else %}/#progetti{% endif %}" data-target="progetti">
            {{ t.nav.projects }}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if stripped_url == 'la-storia' %} active {% endif %}" href="/la-storia" data-target="la-storia">
            {{ t.nav.history }}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if stripped_url == 'soci-e-volontari' %} active {% endif %}" href="/soci-e-volontari" data-target="volontari">
            {{ t.nav.volunteers }}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if stripped_url == 'blog' %} active {% endif %}" href="/blog" data-target="blog">
            {{ t.nav.blog }}
          </a>
        </li>
      </ul>
      <div class="ms-md-3">
        {% include buttons/donate.html %}
      </div>
    </div>
  </div>
</nav>
