<!doctype html>
<html lang="it">
<head>
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- HTML Meta Tags -->
  <title>{{ page.title }}</title>
  <meta name="description" content="Vuoi essere sicuro che la tua donazione stia portando frutto nella vita di qualcuno? La nostra missione e' darti questa certezza.  ">

  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="https://salimodv.org">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Associazione Salim ODV">
  <meta property="og:description" content="Vuoi essere sicuro che la tua donazione stia portando frutto nella vita di qualcuno? La nostra missione e' darti questa certezza.  ">
  <meta property="og:image" content="https://salimodv.org/assets/images/logos/logo_extended_green_1_all_grande.png">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="salimodv.org">
  <meta property="twitter:url" content="https://salimodv.org">
  <meta name="twitter:title" content="Associazione Salim ODV">
  <meta name="twitter:description" content="Vuoi essere sicuro che la tua donazione stia portando frutto nella vita di qualcuno? La nostra missione e' darti questa certezza.  ">
  <meta name="twitter:image" content="https://salimodv.org/assets/images/logos/logo_extended_green_1_all_grande.png">

  <!-- Meta Tags Generated via https://www.opengraph.xyz -->

  <!-- Bootstrap 5 CSS compiled with custom colours pallete -->
  <link href="/assets/css/bootstrap.css" rel="stylesheet">
  <link href="/assets/css/main.css" rel="stylesheet">

  {% if page.url == "/" %}
    <!-- Jarallax CSS -->
    <link href="https://cdn.jsdelivr.net/npm/jarallax@2/dist/jarallax.min.css" rel="stylesheet">
    <!-- Jarallax JS -->
    <script src="https://cdn.jsdelivr.net/npm/jarallax@2/dist/jarallax.min.js"></script>
  {% endif %}
</head>

<body {% if page.url == "/" %} data-bs-spy="scroll" data-bs-target="#menu-bar" data-bs-offset="0" tabindex="0" {% endif %}>
  {% include layout/nav.html %}

  <main class="container-full">
    <div class="{% if page.url != "/" %}skip-nav{% endif %}">
      {{ content }}
    </div>
  </main>
  {% include donate_now_modal.html handle="DonateNowModal" %}

  {% include layout/footer.html %}
  {% include layout/consent_modal.html %}

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
    integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
    crossorigin="anonymous"></script>

  <script src="/assets/js/cookies.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.11/dist/clipboard.min.js"></script>

  <script src="/assets/js/main.js"></script>

  {% if page.url == "/" %}
    <script src="/assets/js/navbar-hides.js"></script>
    <script src="/assets/js/menu-highlights.js"></script>
  {% endif %}
</body>

</html>
