<div data-jarallax data-speed="0.2" class="py-5 jarallax" data-target-section id="la-storia">
  <img class="jarallax-img" src="/assets/images/foto/bambini-palloncini.jpg" alt="">
  <div class="min-vh-100 py-5 my-5">
    <div class="align-items-center p-3 rounded-3 border mx-3 shadows my-auto bg-white bg-opacity-75">
      <div class="row">
        <figure class="col-md-12 d-md-none">
          <img src="/assets/images/foto/jessica_inizio.jpeg" alt="Jessica la prima volta in Kenya" class="rounded-3 img-fluid">
          <figcaption class="figure-caption text-center">Jessica e Salim, 2014</figcaption>
        </figure>
        <div class="col-md-12 mt-md-0">
          <figure class="figure w-50 float-start m-3 d-none d-md-block">
            <img src="/assets/images/foto/jessica_inizio.jpeg" alt="Jessica la prima volta in Kenya"
              class="rounded-3 img-fluid">
            <figcaption class="figure-caption text-center">Jessica e Salim, 2014</figcaption>
          </figure>

          <h1 class="display-4 fw-bold lh-1 text-body-emphasis">Una storia d'amore lunga più di 10 anni...</h1>
          <p class="lead">
            Salim è il nome del primo bambino che Jessica Donadio, una giovanissima ragazza romana in
            visita in Kenya, tenne in braccio nel lontano 2014.
          </p>
          <p class="lead">
            Dall’epoca, nel cuore di Jessica si è acceso un amore profondo per questo popolo, e nel tempo ha
            iniziato a mettere in comunicazione i bisogni della popolazione
            locale con le disponibilità finanziarie di persone sparse in Italia e nel mondo.
          </p>
          <p class="lead">
            Più di 80 persone, in
            Europa, America e Australia hanno già scelto di fidarsi della
            trasparenza e della serietà di Jessica. Negli ultimi anni diverse persone hanno deciso di andare a
            vedere in prima persona il lavoro duro e la dedizione con cui ogni
            aspetto di questa opera viene portato avanti da Jessica e da suo marito Salimu, e negli ultimi due anni
            si è formato un team di supporto a questa realtà...
          </p>
          <p class="lead">
            <a class="btn btn-primary btn-lg float-end" href="la_storia.html" disabled>Scopri di piú!</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="min-vh-100 py-3">
    {% include home/testimonianze.html %}
  </div>
</div>
