{% assign t = site.data.translations[site.active_lang].main %}
{% assign h = site.data.translations[site.active_lang].home %}
<div class="min-vh-100 py-5 my-5">
  <div class="align-items-center p-3 rounded-3 border mx-3 shadows my-auto bg-white bg-opacity-75">
    <div class="row">
      <figure class="col-md-12 d-md-none">
        <img src="/assets/images/foto/jessica_inizio.jpeg" alt="{{ h.story_preview.caption }}" class="rounded-3 img-fluid">
        <figcaption class="figure-caption text-center">{{ h.story_preview.caption }}</figcaption>
      </figure>
      <div class="col-md-12 mt-md-0">
        <figure class="figure w-50 float-start m-3 d-none d-md-block">
          <img src="/assets/images/foto/jessica_inizio.jpeg" alt="{{ h.story_preview.caption }}"
            class="rounded-3 img-fluid">
          <figcaption class="figure-caption text-center">{{ h.story_preview.caption }}</figcaption>
        </figure>

        <h1 class="display-4 fw-bold lh-1 text-body-emphasis">{{ h.story_preview.title }}</h1>
        <p class="lead">
          {{ h.story_preview.p1 }}
        </p>
        <p class="lead">
          {{ h.story_preview.p2 }}
        </p>
        <p class="lead">
          {{ h.story_preview.p3 }}
        </p>
        <p class="lead">
          <a class="btn btn-primary btn-lg float-end" href="la-storia.html" disabled>{{ t.buttons.learn_more }}</a>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="min-vh-100 py-3">
  {% include home/testimonianze.html %}
</div>
