<div data-target-section id="progetti" class="py-5">
  <div class="justify-content-center py-5">
    <div class="mx-3 my-5 row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
      <div class="col">
        <div class="card shadow-sm">
          <div class="card">
            <img src="/assets/images/foto/sostegni_distanza.jpg" alt="Sostegni a distanza" class="card-img-top img-fluid" />
            <div class="card-img-overlay bg-black bg-opacity-25">
              <h1 class="text-white display-5 fw-bold">SOSTEGNI A DISTANZA</h1>
            </div>
          </div>
          <div class="card-body">
            <p class="card-text">
              Vorresti fare la differenza nella vita di un bambino o di una famiglia? Diventa
              sostenitore! Con quote di 40 o 50 euro mensili puoi cambiare sostanzialmente la vita di un
              bambino.
            </p>
            <a class="btn btn-primary" href="/progetti/sostegno-a-distanza">Scopri di piú!</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <div class="card">
            <img src="/assets/images/foto/progetto_animali.jpg" alt="Progetto animali" class="card-img-top img-fluid" />
            <div class="card-img-overlay bg-black bg-opacity-25">
              <h1 class="text-white display-5 fw-bold">PROGETTO ANIMALI</h1>
            </div>
          </div>
          <div class="card-body">
            <p class="card-text">Fornisci un animale da cortile ad una famiglia consentendo loro di avere latte
              fresco, uova e carne in maniera semplice e diretta.
              Li aiuterai ad autosostentarsi e ad imparare a gestire le proprie risorse in maniera più
              consapevole.
            </p>
            <div class="btn-group" role="group">
              <a class="btn btn-primary" href="/progetti/progetto-animali" disabled>Scopri di piú!</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <div class="card">
            <img src="/assets/images/foto/scuola.jpg" alt="ISTRUZIONE" class="card-img-top img-fluid" />
            <div class="card-img-overlay bg-black bg-opacity-25">
              <h1 class="text-white display-5 fw-bold">ISTRUZIONE</h1>
            </div>
          </div>
          <div class="card-body">
            <p class="card-text">Se credi che la chiave per la vita delle nuove generazioni sia l’istruzione,
              investi nella vita di coloro che non potrebbero mai studiare
              ma hanno le potenzialità di cambiare le sorti del loro paese.
            </p>
            <a class="btn btn-primary" href="/progetti/progetto-istruzione" disabled>Scopri di piú!</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <div class="card">
            <img src="/assets/images/foto/kirifi.jpg" alt="PROGETTO KILIFI" class="card-img-top img-fluid" />
            <div class="card-img-overlay bg-black bg-opacity-25">
              <h1 class="text-white display-5 fw-bold">PROGETTO KILIFI</h1>
            </div>
          </div>
          <div class="card-body">
            <p class="card-text">
              Facciamo insieme la differenza per degli orfani con bisogni essenziali. Aiutaci a raggiungerli e soddisfare i loro bisogni primari.
              
            </p>
            <a class="btn btn-primary" href="/progetti/progetto-kilifi" disabled>Scopri di piú!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
