{% assign t = site.data.translations[site.active_lang].main %}
{% assign p = site.data.translations[site.active_lang].progetti %}
<div class="justify-content-center py-5">
  <div class="mx-3 my-5 row row-cols-1 row-cols-sm-2 row-cols-md-3">
    <div class="col">
      <div class="card shadow-sm">
        <div class="card">
          <img
            src="/assets/images/foto/sostegni_distanza.jpg"
            alt="{{ p.distance_support.title }}"
            class="card-img-top img-fluid"
          >

          <div class="card-img-overlay bg-black bg-opacity-25">
            <h1 class="text-white display-5 fw-bold">{{ p.distance_support.title }}</h1>
          </div>
        </div>

        <div class="card-body">
          <p class="card-text">
            {{ p.distance_support.description }}
          </p>

          <a class="btn btn-primary" href="/progetti/sostegno-a-distanza">
            {{ t.buttons.learn_more }}
          </a>
        </div>
      </div>
    </div>

    <div class="col mt-3 mt-sm-0">
      <div class="card shadow-sm">
        <div class="card">
          <img
            src="/assets/images/foto/progetto_animali.jpg"
            alt="{{ p.animals.title }}"
            class="card-img-top img-fluid"
          >

          <div class="card-img-overlay bg-black bg-opacity-25">
            <h1 class="text-white display-5 fw-bold">{{ p.animals.title }}</h1>
          </div>
        </div>

        <div class="card-body">
          <p class="card-text">
            {{ p.animals.description }}
          </p>

          <div class="btn-group" role="group">
            <a
              class="btn btn-primary"
              href="/progetti/progetto-animali"
              disabled
            >
              {{ t.buttons.learn_more }}
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="col mt-3 mt-md-0">
      <div class="card shadow-sm">
        <div class="card">
          <img
            src="/assets/images/foto/scuola.jpg"
            alt="{{ p.education.title }}"
            class="card-img-top img-fluid"
          >

          <div class="card-img-overlay bg-black bg-opacity-25">
            <h1 class="text-white display-5 fw-bold">{{ p.education.title }}</h1>
          </div>
        </div>

        <div class="card-body">
          <p class="card-text">
            {{ p.education.description }}
          </p>

          <a
            class="btn btn-primary"
            href="/progetti/progetto-istruzione"
            disabled
          >
            {{ t.buttons.learn_more }}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
