<div data-jarallax data-speed="0.2" class="jarallax py-5" data-target-section id="volontari">
  <img class="jarallax-img" src="/assets/images/foto/jessica_bimbi.jpg" alt="">
  <div class="d-flex flex-column min-vh-100 py-5 my-5">
    <div class="p-5 text-center bg-body-tertiary bg-opacity-75 rounded-3 my-auto">
      <h1 class="text-body-emphasis">
        Vorresti fare un'esperienza di volontariato?
      </h1>
      <p class="col-lg-8 mx-auto fs-5 text-muted">
        Porta un aiuto concreto andando direttamente a Mombasa, dove Jessica porta
        avanti il lavoro dell'associazione
      </p>
      <a class="btn btn-primary btn-lg px-5 my-3" href="/diventa-volontario.html">
        Scopri come diventare volontario!
      </a>
    </div>
  </div>
  <div class="d-flex flex-column min-vh-100 py-5 my-5">
    <div class="p-5 text-center bg-body-tertiary bg-opacity-75 rounded-3 my-auto">
      <h1 class="text-body-emphasis">
        Vorresti collaboare con noi?
      </h1>
      <p class="col-lg-8 mx-auto fs-5 text-muted">
        Contattaci o diventa socio per sostenere i progetti dell'associazione
      </p>
      <a class="btn btn-primary btn-lg px-5 my-3" href="/diventa-socio.html">
        Scopri come unirti a noi!
      </a>
    </div>
  </div>
</div>
