<div class="bg-white mt-5" data-target-section id="volontari">
  <div class="justify-content-center py-5 text-center">
    <h1>
      FOO
    </h1>
    <div class="mx-3 my-5 row row-cols-2">
      <div class="col">
        <div class="card shadow-sm">
          <div class="card-body">
            <h1 class="text-body-emphasis">
              Vorresti fare un'esperienza di volontariato?
            </h1>
            <p class="card-text">
              Porta un aiuto concreto andando direttamente a Mombasa, dove Jessica porta
              avanti il lavoro dell'associazione
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <div class="card-body">
            <p class="card-text">Fornisci un animale da cortile ad una famiglia consentendo loro di avere latte
              fresco, uova e carne in maniera semplice e diretta.
              Li aiuterai ad autosostentarsi e ad imparare a gestire le proprie risorse in maniera più
              consapevole.
            </p>
          </div>
        </div>
      </div>
    </div>
    <a class="btn btn-primary btn-lg" href="soci-e-volontari.html">Scopri di piú!</a>
  </div>
</div>
