<div class="bg-white mb-5">
  <div class="justify-content-center py-5 text-center">
    <div class="mt-5 pt-5 container">
      <h1>
        Se il nostro lavoro ti piace, sostieni l’intera associazione!
      </h1>
      <div class="mx-3 my-5 row row-cols-1 row-cols-md-2 row-cols-lg-3">
        <div class="col">
          <div class="card shadow-sm">
            <div class="card-body">
              <h1 class="text-body-emphasis">
                DIVENTA SOCIO
              </h1>
              <p class="card-text fs-4">
                Sostieni la nostra attività oppure mettiti in gioco personalmente e diventa un <b class="text-secondary">volontario</b>
              </p>
              <a class="btn btn-primary btn-lg" href="/soci-e-volontari.html">Scopri di piú!</a>
            </div>
          </div>
        </div>
        <div class="col mt-3 mt-md-0">
          <div class="card shadow-sm">
            <div class="card-body">
              <h1 class="text-body-emphasis">
                AGEVOLAZIONI FISCALI
              </h1>
              <p class="card-text fs-4">
                Sostienici attraverso i tuoi contributi detraibili e deducibili dalle tasse!
              </p>
              <a class="btn btn-primary btn-lg" href="/agevolazioni_fiscali.html">Scopri di piú!</a>
            </div>
          </div>
        </div>
        <div class="col mt-3 mt-lg-0">
          <div class="card shadow-sm">
            <div class="card-body">
              <h1 class="text-body-emphasis">
                DIVENTA PARTNER
              </h1>
              <p class="card-text fs-4">
                Hai una azienda e pensi che il tuo lavoro possa essere utile alla causa di Salim ODV? Insieme possiamo andare più lontano!
              </p>
              <a class="btn btn-primary btn-lg" href="/diventa-partner.html">Scopri di piú!</a>
            </div>
          </div>
        </div>
      </div>

      <hr/>
      <div class="text-center rounded-3">
        <svg class="align-middle icon-heart-handshake bi mt-4 mb-3" width="100" height="100">
          <use xlink:href="/assets/images/icons/sprite.svg#heart-handshake"></use>
        </svg>

        <h1 class="text-body-emphasis">Dona il tuo 5x1000</h1>
        <p class="col-lg-8 mx-auto fs-3 text-muted">
          Inserisci nell'apposito campo il numero <em>9010 1180 587</em>
          <a type="button" class="btn-copy-to-clipboard ms-1 text-black" aria-label="copy" data-clipboard-text="90101180587">
            <i data-bs-toggle="tooltip" data-bs-title="Copia" class="bi bi-clipboard"></i>
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
