<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"
      aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"
      aria-current="true"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 4"
      aria-current="true"></button>
  </div>
  <div class="carousel-inner">
    {% for item in site.data.testimonianze %}
      <div class="carousel-item {% if forloop.first == true %}active{% endif %} bg-white bg-opacity-75 px-5 pt-5 pb-3">
        <div class="row">
          <figure class="col-xs-12 d-sm-none">
            <img class="rounded-circle img-fluid" src="{{ item.foto.src }}"
              alt="{{ item.foto.alt }}" />
          </figure>
          <div class="col-xs-12 mt-xs-0">
            <figure class="figure float-start d-none d-sm-block">
              <img class="rounded-circle img-fluid" src="{{ item.foto.src }}" class="rounded-3 img-fluid"
                alt="{{ item.foto.alt }}" width="300px" />
            </figure>
            <!-- <h2 class="fw-normal">Testimonianza</h2> -->
            <figure>
              <blockquote class="blockquote">
                {% for text_item in item.testimonianza %}
                  <p>
                    {{ text_item }}
                  </p>
                {% endfor %}
              </blockquote>
              <figcaption class="blockquote-footer mt-2 float-end">
                <cite title="{{item.autore}}" class="fs-5">{{item.autore}}</cite>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
